@import 'http://fonts.googleapis.com/css?family=Lato:300,700|Source+Code+Pro';
*, *:before, *:after {
	box-sizing: border-box;
	color: #333;
}
body {
	background: rgb(255,255,255);
	font-family: 'Lato',sans-serif;
	font-weight: 700;
	text-align: center;
	padding: 0 0 50px 0;
}
h1 {
	font-weight: 300;
	font-size: 3.5em;
}
p {
	font-size: 1.3em;
	margin-bottom: 5px;
	padding: 0 50px;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	color: royalblue !important;
	text-decoration: none !important;
}
code {
	display: block;
	font-family: 'Source Code Pro';
	margin: 10px 0;
}
#in {
	display: inline;
}
.sub {
	font-size: 1em;
	margin-top: 10px;
}